* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #ff5500;
}

a:hover {
  filter: brightness(0.5);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #131515;
  color: white;
  min-height: 100vh;
  position: relative;
  padding-bottom: 32px;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
  filter: grayscale(1) brightness(0.5);
  cursor: not-allowed;
}

button:not(:disabled):hover,
input[type="file"]::file-selector-button:hover {
  filter: brightness(0.5);
}

form {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

input {
  font-size: 1.2em;
  padding: 8px 8px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: white;
  font-family: monospace;
}

input[type="file"] {
  padding: 6px 8px;
}

input[type="file"]::file-selector-button {
  margin-right: 8px;
}

input[type="number"] {
  text-align: right;
}

label.required::after {
  content: " *";
  font-weight: bold;
  color: red;
}

main {
  max-width: 724px;
  margin: auto;
  padding: 1rem;
}

p {
  margin-bottom: 1em;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-input > label {
  font-size: 0.9em;
  color: #aaa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background: #333;
}

.hbox {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.hbox > input {
  width: 80%;
}

.hidden {
  display: none;
}

input[type="file"]::file-selector-button,
.paste,
.submit {
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-family: monospace;
  background-color: #048a81;
  color: white;
  padding: 4px 8px;
  text-align: center;
  cursor: pointer;
}

.submit {
  font-size: 1.5rem;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 16px;
  font-size: 1rem;
  font-family: monospace;
}

#ascii {
  margin: 32px auto;
  text-align: center;
}

#canvas {
  display: none;
}
